img.rounded-circle{
  width: 120px;
}

.info{
  margin-left: 110px;
}

section.team-section{
  width: 95%;
}

.row1{
  text-align: center;
  margin: 30px;
}

h1.h1-responsive{
  color: #56CC9D;
}
