<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h1 class="h1-responsive font-weight-bold my-5">Gre:EN TEAM</h1>

  <h4>Gre:EN là một dự án nằm trong SmartCity, Gre:EN cung cấp thùng rác thông minh với công nghệ LoraWAN
    tích hợp với website để hiển thị thông tin của thùng rác, đưa ra giải pháp hiệu quả cho các doanh nghiệp thu gom rác thải - môi trường.
  </h4>

  <div class="row1">

      <!-- Grid column -->
      <div class="info1">
        <div class="avatar">
          <img src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.0-9/p960x960/36641596_10209729448551338_6013110327871275008_o.jpg?_nc_cat=110&_nc_sid=85a577&_nc_ohc=hI8PKYfIy9EAX8KcnNf&_nc_ht=scontent.fsgn2-6.fna&_nc_tp=6&oh=0a9bdf6bcbe7ea42360372121b6ecf8d&oe=5F2AC2EE" class="rounded-circle z-depth-1"
            alt="Sample avatar">
        </div>
        <h2 class="font-weight-bold mt-4 mb-3">Ph.D Lê Kim Hùng</h2>
        <p class="text-uppercase blue-text">
          <strong>Lecturer</strong>
        </p>
      </div>
  </div>

  <div class="row">

    <!-- Grid column -->
    <div class="info">
      <div class="avatar mx-auto">
        <img src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-9/s960x960/101964469_2566244683590082_5377675177763012608_o.jpg?_nc_cat=107&_nc_sid=85a577&_nc_ohc=5mx5gWzzQSQAX-170AI&_nc_ht=scontent.fsgn2-1.fna&_nc_tp=7&oh=520086422b7ca61e5a09644da9497c45&oe=5F2C4E9B" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h2 class="font-weight-bold mt-4 mb-3">Phạm Nguyễn Hoàng Oanh</h2>
      <p class="text-uppercase blue-text">
        <strong>Device</strong>
      </p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="info">
      <div class="avatar mx-auto">
        <img src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t1.0-9/s960x960/36990061_2016760491972618_7193196942279573504_o.jpg?_nc_cat=101&_nc_sid=7aed08&_nc_ohc=oNiVNT-bqVIAX_q3De2&_nc_ht=scontent.fsgn2-4.fna&_nc_tp=7&oh=fbaa31b6acee8b2e29e945a3dca90cbb&oe=5F2A9BD1" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h2 class="font-weight-bold mt-4 mb-3">Trần Quyết Thắng</h2>
      <p class="text-uppercase blue-text">
        <strong>Device</strong>
      </p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="info">
      <div class="avatar mx-auto">
        <img src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t1.0-1/67830127_2213087988983257_8060260962856337408_n.jpg?_nc_cat=102&_nc_sid=dbb9e7&_nc_ohc=PUKY8TwtREkAX8lZEkA&_nc_ht=scontent.fsgn2-5.fna&oh=42d7c3796b3e623f17f98fea0f6c7288&oe=5F2A199A" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h2 class="font-weight-bold mt-4 mb-3">Trương Thúc Khánh</h2>
      <p class="text-uppercase blue-text">
        <strong>Backend developer</strong>
      </p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="info">
      <div class="avatar mx-auto">
        <img src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-9/p960x960/58442869_2035507023411747_1486538629831458816_o.jpg?_nc_cat=111&_nc_sid=7aed08&_nc_ohc=WtP7OkS7YhAAX9ELjiX&_nc_ht=scontent.fsgn2-1.fna&_nc_tp=6&oh=d3d209c692894b4fa4b925a4a8809a5d&oe=5F2BA5CD" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h2 class="font-weight-bold mt-4 mb-3">Trương Võ Trúc Như</h2>
      <p class="text-uppercase blue-text">
        <strong>Frontend dev - UI/UX designer</strong>
      </p>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
